ip routing
{% for i in ip_addresses %}
interface {{ i.interface }}
   ip address {{ i.ip_address }}
{% if i.description is defined %}
   description {{ i.description }}
{% endif %}
{% if 'Ethernet' in i.interface %}
   no switchport
{% endif %}
{% endfor %}
